<!-- Login View -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>


<div id="formContainer"> 
  <form id="form" action="/account/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="account_email" id="email" required value="<%=locals.account_email%>">

    <label for="password">Password:</label>
    <input type="password" name="account_password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    
    <div><i>Password mut be minimum of 12 characters and include 1 capitel letter, 1 number and 1 special character.</i></div>

    <button type="submit">Login</button>
<p>No account? <a href="/account/registration">Sign-up </a></p>
</form>
</div>


