<nav>
    <%- nav %>
   <%# <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul> IT WAS PREVIOUSLY THIS WAY AND STATIC WAY%>
</nav>
