
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}


/* Estilo base (view celular) */
html {
  background-image: none;
}

body {
  max-width: 980px;
  font-size: 16px;
  margin: 0 auto;
  background-color: white;
  
}

/*HEADER*/
header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: space-between;
}
header a {
  display: inline;
  text-decoration: none;
  padding-left: 10px;
  color: black;
}
.tools {
  padding-top: 10px;
}
.siteName {
  font-size: 200%;
}

/*NAV*/
nav {
  background-color: black;
  color: white;
  display: flex;
}
nav li {
  display: inline;
  padding: 3%;

}
ul {
  list-style-type: none;
  padding: 0;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

.main-home {
  display: grid;
  grid-template-columns: 1fr;
  padding: 4em;
  background-color: #ffffff;
}

/*FIRST SECTION*/

h1 {
  font-size: 130%;
}
.text-car {
  text-align: left;
  padding: 10px;
  position: relative;
}

.text-car p {
  color:  #083f4f;
  line-height: 0;
}

.text-car h3 {
  color:#083f4f;
  
  line-height: 0;
}

.car {
  width: 100%;
}

.box {
  background-color: rgba(227, 226, 216, 0.5);
  width: 35%;
  position: absolute;
  top: 40%;
}

.button {
  width: 60%;
  height: 15%;
}

/*DMC DELOREAN REVIEWS*/
.content2 {
  margin: 0.5em;
}

.content2 li {
  line-height: 2em;
}

.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0.5em;
}

.main-home h2 {
  padding-left: 5%;
}

/*DELOREAN UPGRADES*/
.upgrades img {
  margin: auto;
}

.upgrades {
  background-color: #62c3e1;
  border: solid 1.5px;
  padding: 1em;
  grid-template-rows: 5em;
  display: grid;
}

.upgradelink {
  text-align: center;
}

/*INVENTORY CSS*/
.left-side {
  padding-left: 0; 
  margin-top: 5px; 
  padding: 10px;
}
.right-side {
  padding-left: 0; 
  padding: 10px;
}

img {
 /* width: 45%;  La imagen ocupará el ancho completo del contenedor */
 /*  height: auto; Se ajustará automáticamente según el ancho */

}

/*CLASSIFICATION GRID CSS*/
#inv-display li {
  width: 100%; /* Display as a single column on smaller screens */
  margin-right: 0; /* Remove the right margin */
}

#inv-display {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#inv-display li img {
  width: 50%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.namePrice {
  margin-top: 10px;
}

.namePrice hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.namePrice h2 {
  font-size: 1.2em;
  margin: 5px 0;
}

.namePrice span {
  font-size: 1.1em;
  font-weight: bold;

}

.notice {
  color: #ff0000;
  font-size: 1.2em;
}

#inv-display li {
  box-sizing: border-box;
margin: 5px;
  padding: 5px;
  border: solid black;
}

#inv-display li a {
  text-decoration: none;
  color: #333;
}

/*LOGIN FORM*/
#formContainer {
  width: 300px;
  margin: 50px auto;
}

#form {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background: #62c3e1;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


/*div {
  margin-bottom: 16px;
  color: #888;
}*/

a:hover {
  text-decoration: underline;
  color: #45a049;
}



.managementlinks {
  margin: 20px;
}

a.managementlinks {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/*Medios para dispositivos más grandes (escritorio) ancho de pantalla mayor o igual a 768 píxeles.*/
@media screen and (min-width: 768px) {

  html {
    background-image: url("../images/site/checkerboard.jpg");
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  body {
    padding: 20px;
    border: solid 4px #62c3e1;
  border-radius: 10px !important;
  }

  nav li {
    padding: 23%;
  }

  h1 {
    font-size: 230%;
  }

  .box {
    height: 45%;
    width: 20%;
    left: 5%;
    bottom: 5%;
  }

  .car {
    width: 80%;
    display: block;
    margin: auto;
  }

  .button {
    width: 75%;
    height: 20%;
    bottom: 5%;
    display: block;
    margin: auto;
  }

  .text-car h3 {
    font-size: 150%;
  }

  .text-car p {
    font-size: 130%;
    line-height: 0.5;
  }

  .containerwrapping {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content2 {
    order: 2;
  }

  /*CLASSIFICATION CSS*/


#inv-display li {
  box-sizing: border-box;
  width: calc(33.33% - 10px);
  margin-right: 2.5px;
  padding: 10px;
  border: solid black;
 margin-bottom: 3%;
}


#inv-display li a {
  display: block;
  text-decoration: none;
  color: #333;
}


  
/*Inventory CSS*/
.grid-container {
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex-basis: 50%;
}

.right-side {
  flex-basis: 50%;
  padding-left: 20px; /* Ajusta el espaciado entre las dos partes según tu preferencia */
  margin-top: 50px;
}
.left-side h2 {
  margin-bottom: 30px; /* Elimina el margen inferior del h2 */
}
}
