<!-- Add Classification View -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>


<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<div id="formContainer"> 
    <form id="form" action="/inv/classification-addition" method="post">

      <fieldset>
        <div><i>Classification name cannot contain a space or special character of any kind.</i></div>

      <label for="classificationName">Classification Name</label>

      <input type="text" name="classification_name"  required  value="<%= locals.classification_name %>"> 

      <button type="submit">Add Classification</button>
    </fieldset>
  </form>
  </div>
  