<% if (title) { %> 
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <% messages() %>

    <div class="managementlinks">
      <a class= "managementlinks"href="/inv/add-classification">Add new classification</a>
      <a class= "managementlinks" href="/inv/add-inventory">Add new inventory view</a>
  </div>
 